.sportsList li{
	font-family: font-family: 'Playfair Display', serif;
	display:inline-block;
	text-align: left;
	
	line-height:1.5em;
	font-size:20px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;
	
}

a{
	text-decoration: none;
	color: #2E3234;
}
a:hover{
	color: steelBlue;
}

#sportsPhotos{
	padding-bottom:20px;
	margin: 10px;
	text-align: center;
}
h2{
	font-family: font-family: 'Playfair Display', serif;
	text-align: left;
	line-height:1.5em;
	font-size:22px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;
}
h3{
	font-family: font-family: 'Playfair Display', serif;
	text-align: left;
	line-height:1.5em;
	font-size:20px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;
}