.diyphotos {
	margin-bottom: 0px;
	margin-top: 0px;

}
#img{
	
	text-align: center;
}
a {
	text-decoration: none;
	color: #2E3234;;
}
a:hover{
	color: steelBlue;
}
h3{
	margin-right: 20%;
	margin-left: 20%;
	font-size:22px;
	color: #2E3234;
}
