
h2{
	font-family: font-family: 'Playfair Display', serif;
	text-align: left;
	line-height:1.5em;
	font-size:20px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;

}

h3{
	margin-right: 20%;
	margin-left: 20%;
	font-size:20px;
	color: #2E3234;
}

a{
	text-decoration: none;
	color: #2E3234;;
}

a:hover{
	color: steelBlue;
}

h4{
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  color: #2E3234;
}

h5{
  text-align: left;
  margin-right: 25%;
  margin-left: 25%;
  color: #2E3234;
}
