

h3{
	margin-right: 20%;
	margin-left: 20%;
	font-size:25px;
	color: #2E3234;
}

a{
	text-decoration: none;
	color: #2E3234;;
}

a:hover{
	color: steelBlue;
}

h4{
  text-align: left;
  margin-right: 20%;
  margin-left: 20%;
  color: #2E3234;
	font-size: 20px;
}

h5{
  text-align: center;
  margin-left: 50%;
  color: #2E3234;
	font-size: 20px;
}
