a{
	text-decoration: none;
	color: #2E3234;
}
a:hover{
	color: steelBlue;
}
h2{
	font-family: font-family: 'Playfair Display', serif;
	text-align: left;
	line-height:1.5em;
	font-size:22px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;
}
h3{
	font-family: font-family: 'Playfair Display', serif;
	text-align: left;
	line-height:1.5em;
	font-size:20px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;
}
h4{
	font-family: font-family: 'Playfair Display', serif;
	text-align: left;
	line-height:1.5em;
	font-size:14px;
	color: #2E3234;
	margin-right: 20%;
	margin-left: 20%;
}

#bar{
	width:100%;
	background: #f3f3f3;
	margin-top: -10px;
	height: 15px;
	border-radius: 10px;
}

#logo{

	width: 100%;
	height: 280px;
	background:#ffffff;
	margin-top: -40px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Alex Brush', cursive;
	text-align: center;
	word-spacing:0.5em;
	font-style: italic;
	color: SteelBlue;
	font-size: 40px;
	padding-top: 10px;
	line-height: 1px;
	position: fixed;
	padding-bottom: 25px;

}

.navigation li {
  color: #2E3234;
  display: inline-block;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 5px;
  font-family: 'Alex Brush', cursive;
  padding-left: 5px;
  padding-right: 5px;

}
.navigation a{
	text-decoration: none;
	color:#2E3234;
}
.navigation a:hover{
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	color: SteelBlue;
	animation: ease;
	text-decoration: none;
	border-radius: 10px;

}
.navigation {
	padding-top: -500px;

}
.selected a{
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	color:SteelBlue;
	text-decoration: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.photos{
	text-align: center;
	margin-bottom: 35px;
	margin-top: 0px;
}

#bottom{
	padding-top:1px;

}

p{
	text-align: left;
	text-indent: 2em;
	line-height:1.5em;
	font-size:20px;
	color: #2E3234;
	font-family: font-family: 'Playfair Display', serif;
	margin-right: 20%;
	margin-left: 20%;

}

/*slider*/

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 800px;
  background: #fff;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;

  color: steelBlue;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  color: grey;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
.block{
	margin-top: 275px;
}
.tab {
	margin-left: 25%;
	margin-right: 20%;

}
